.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.container .card {
  width: 892px;
  height: auto;
  display: flex;
  align-items: center;
}

.container .card .right {
  width: 600px;
  /* height: 600px; */
  height: 750px;
  background: #151515;
  position: absolute;
  transform: translateX(50%);
  border-radius: 40px;
}
.container .card .right .god-picture {
  width: 90%;
  position: absolute;
  top: 50%;
  transform: translate(-60%, -50%);
  border-radius: 20px;
  border: 3px solid gold;
}
.container .card .right .god-info {
  width: 300px;
  height: 300px;
  margin: 70px 0 0 235px;
  /* margin: 50px 0 0 235px; */
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

.container .card .right .god-info h1 {
  color: whitesmoke;
  line-height: 46px;
  font-size: 35px;
  margin-bottom: 50px;
  /* text-align: center */
}
.container .card .right .god-info h2 {
  color: whitesmoke;
  line-height: 30px;
  font-size: 18px;
  margin-left: 20px;
}
.container .card .right .god-info .mint-button {
  position: fixed;
  bottom: 175px;
  /* bottom: 75px; */
  left: 350px;
}
.container .card .right .god-info .mint-button a {
  background-image: linear-gradient(144deg, white, gold, white);
  border-radius: 8px;
  box-sizing: border-box;
  color: whitesmoke;
  font-family: Phantomsans, sans-serif;
  font-size: 30px;
  padding: 17px;
  /* font-size: 30px;
  padding: 15px; */
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}
.container .card .right .god-info .mint-button .active_button {
  cursor: pointer;
}
.container .card .right .god-info .mint-button .disable_button {
  pointer-events: none;
  opacity: 0.7;
}
.container .card .right .god-info .mint-button a span {
  color: #151515;
}
@media only screen and (max-width: 1600px) {
  .container .card .right .god-picture {
    transform: translate(-50%, -50%);
    width: 75%;
  }
  .container .card .right {
    width: 550px;
    height: 600px;
  }
  .container .card .right .god-info .mint-button {
    bottom: 120px;
    left: 320px;
  }
}
@media only screen and (max-width: 1400px) {
  .container .card .right .god-picture {
    width: 70%;
  }
  .container .card .right {
    width: 500px;
    height: 500px;
  }
  .container .card .right .god-info .mint-button {
    bottom: 60px;
    left: 290px;
  }
  .container .card .right .god-info {
    margin: 50px 0 0 190px;
  }
  .container .card .right .god-info h1 {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 1000px) {
  .container .card {
    padding-left: 80px;
  }
  .container .card .right .god-picture {
    transform: translate(-30%, -50%);
    width: 60%;
  }
  .container .card .right {
    width: 400px;
    height: 350px;
  }
  .container .card .right .god-info {
    margin: 30px 180px;
  }
  .container .card .right .god-info h1 {
    line-height: 25px;
    font-size: 25px;
  }
  .container .card .right .god-info h2 {
    line-height: 20px;
    font-size: 13px;
    margin-left: 5px;
    padding-right: 100px;
  }
  .container .card .right .god-info .mint-button {
    bottom: 40px;
    left: 230px;
  }
  .container .card .right .god-info .mint-button a {
    font-size: 25px;
    padding: 12px;
  }
}
@media only screen and (max-width: 800px) {
  .container .card {
    padding-left: 190px;
  }
  .container .card .right .god-picture {
    transform: translate(-50%, -50%);
    width: 75%;
  }
  .container .card .right {
    width: 300px;
    height: 320px;
  }
  .container .card .right .god-info {
    margin: 30px 125px;
  }
  .container .card .right .god-info h1 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .container .card .right .god-info h2 {
    font-size: 12px;
    line-height: 15px;
    padding-right: 140px;
  }
  .container .card .right .god-info .mint-button {
    left: 160px;
    bottom: 50px;
  }
  .container .card .right .god-info .mint-button a {
    font-size: 22px;
    padding: 10px;
  }
}
@media only screen and (max-width: 600px) {
  .container .card {
    padding-left: 190px;
  }
  .container .card .right .god-picture {
    transform: translate(-40%, -50%);
    width: 65%;
  }
  .container .card .right {
    width: 300px;
    height: 280px;
  }
  .container .card .right .god-info {
    margin: 30px 125px;
  }
  .container .card .right .god-info h1 {
    font-size: 17px;
    line-height: 13px;
  }
  .container .card .right .god-info h2 {
    font-size: 10px;
    line-height: 12px;
    padding-right: 160px;
  }
  .container .card .right .god-info .mint-button {
    left: 170px;
  }
  .container .card .right .god-info .mint-button a {
    font-size: 20px;
    padding: 10px;
  }
}
@media only screen and (max-width: 480px) {
  .container .card {
    padding-left: 250px;
  }
  .container .card .right .god-picture {
    transform: translate(-40%, -50%);
    width: 70%;
  }
  .container .card .right {
    width: 230px;
    height: 230px;
  }
  .container .card .right .god-info {
    margin: 20px 110px;
  }
  .container .card .right .god-info h1 {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 10px;
  }
  .container .card .right .god-info h2 {
    font-size: 8px;
    line-height: 10px;
    margin-left: 5px;
    padding-right: 200px;
  }
  .container .card .right .god-info .mint-button {
    left: 130px;
  }
  .container .card .right .god-info .mint-button a {
    font-size: 18px;
    padding: 10px;
  }
}
