#useOfFunds {
  padding-top: 80px;
}
.useOfFunds-title {
  font: 50px/1.1em "opensans-bold", sans-serif;
  color: whitesmoke;
  letter-spacing: -2px;
  margin: 0 auto 18px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.useOfFunds-content {
  padding-top: 80px;
}
@media (max-width: 1000px) {
  .useOfFunds-title {
    font: 45px "opensans-bold", sans-serif;
  }
}
@media only screen and (max-width: 600px) {
  .useOfFunds-title {
    font: 35px "opensans-bold", sans-serif;
  }
}
@media only screen and (max-width: 480px) {
  .useOfFunds-title {
    font: 30px "opensans-bold", sans-serif;
  }
  .useOfFunds-content {
    padding-top: 50px;
  }
}
